# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Node
node_modules
*.log*
.npm

# Env
.env
.env.*
!.env.example

# IDE
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
.vitest

# Drizzle
server/database/migrations/meta

# Bun
bun.lockb
